@import "~bulma/sass/utilities/initial-variables";
@import url("https://use.typekit.net/kip8laj.css");

$primary: #131825;
$primary-dark: #0a0d14;
$accent: #ff2c3c;
$radial-dark: radial-gradient(
  circle, 
  hsl(223, 32%, 11%) 0%,
  hsl(222, 33%, 6%) 100%
);
@import "~bulma";

html {
  background: radial-gradient(circle, $primary 0%, $primary-dark 100%);
  color: #e7e7e7;
  font-family: aktiv-grotesk, sans-serif!important;
  font-weight: 400;
  font-style: normal;
}
body, input, select, textarea {
  font-family: aktiv-grotesk, sans-serif!important; 
    font-weight: 400!important;
    font-style: normal!important;
}
button {

  font-family: hypatia-sans-pro, sans-serif!important;
  font-weight: 600!important;
  font-style: normal!important;
}
.navbar { 
  background: $radial-dark;
  position: relative;
  height: 65px;

  .navbar-brand {
    width: 40px;
  }
  .site-btn {
    border: none!important;
  }
  .navbar-menu {
    box-shadow:none;
  }
  .navbar-item {
    color: #e7e7e7;
    font-size: 1.4rem;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
}  
.hero {
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  background: $primary!important;
  .hero-icon {
    margin-right: 1rem;
  }
  .hero-body {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .title {
    font-size: 2.8rem;
  }
  .subtitle {
    font-size: 1.6rem;
  }
}
.home {
  margin-top: 5rem;
  .title {
    color: #e7e7e7!important;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .subtitle {
    color: #e7e7e7!important;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  a {
    .has-text-primary {
      color: $accent!important;
    }
  }
}
.content {
  color: #e7e7e7;
  border-radius: 4px!important;
  line-height: 2.2;
  font-size: 1.15rem;
  strong {
    color: inherit;
    font-weight: 600;
  }
  a {
    color: lighten($color: $accent, $amount: 10);
  }
  blockquote {
    background: lighten($color: $primary, $amount: 10);
    border-color: $accent;
  }
  .title {
    color: #e7e7e7!important;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  h2 {
    color: #e7e7e7!important;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  h4 {
    color: $accent!important;
    font-family: hypatia-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  p {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .taglist {
    list-style: none;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    li {
      padding: 0 2rem 1rem 0;
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
  }
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}
.news-title {
  font-size: 1.6rem;
  color: $accent!important;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase
}
.news-btn {
  background: rgba($color: #000000, $alpha: 0)!important;
  border: 1px solid $accent!important;
  color: #e7e7e7!important;
  font-family: hypatia-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: all .1s ease-in-out;
  &:hover {
    background: $accent!important;
  }
}
